
/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #888888;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	clear: both;
	color: #404040;
}
h1 {font-size: 28px;line-height:3.4rem;}
h2 {font-size: 24px;line-height:2.8rem;}
h3 {font-size: 20px;line-height:2.4rem;}
h4 {font-size: 18px;}
h5 {font-size: 15px;}
h6 {font-size: 12px;}
p {
	margin-bottom: 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	display: block;
	padding: 15px 15px 15px 45px;
	margin: 0 0 1.5em;
	position: relative;
	border-left: 5px solid #36c1c8;
	border-right: 2px solid #36c1c8;
}
blockquote::before {
	content: "\201C";
	font-size: 60px;
	line-height: 1;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 5px;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: rgba(0,0,0,.05);
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 85%;
}
big {
	font-size: 125%;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #36c1c8;
	border-radius: 4px;
	background: #ffffff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
	line-height: 1;
	padding: 8px 12px;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #36c1c8;
	color: #ffffff;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #36c1c8;
	color: #ffffff;
	outline: none;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: none; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}








/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100%;
	background: #f2f2f2;
}
.preloaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 45px;
	height: 46px;
	margin-left: -18px;
	margin-top: -21px;
	color: #36c1c8;
	text-align: center;
}

#page {
	max-width: 1040px;
	margin: 30px auto;
}
header.site-header {
	margin-bottom: 1.5em;
}
#primary {
	width: 70%;
	float:left;
	padding-right: 1.5em;
}
#secondary {
	width: 30%;
	float:right;
}
.site-branding, .site-social {
	padding: 1.5em 0;
}
.site-branding {
	float:left;
	width: 50%;
}
.site-social {
	float: right;
	padding: 1.5em 0 0 0;
	width: 50%;
	text-align: right;
}

.inform {
	padding: 3em;
}


#toTop:hover {
    text-decoration: none;
}
#toTop {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 1.5em;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
	-o-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-webkit-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
}


header.entry-header, footer.entry-footer {
	padding: 0 1.5em;
}
header.entry-header {
	padding: 1.5em;
	border-bottom: 1px solid rgba(0,0,0,.05);
}
header.page-header {
	padding: 1.5em;
	margin-bottom: 1.5em;
}
header.page-header h1 span {
	font-weight: 700;
	letter-spacing: -1px;
}
footer.entry-footer {
	padding: 1.5em;
	border-top: 1px solid rgba(0,0,0,.05);
}
.entry-featuredImg {
	position: relative;
}
.entry-featuredImg img {
	display: block;
	width:100%;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
span.overlay-img {
	background:url(./images/goto.png) center center no-repeat black;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10;	
	opacity: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
aside ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
aside ul li {
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 1em 0;
}
h1.site-title {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: -3px;
	font-size: 35px;
}
h2.site-description {
	font-weight: 300;
	font-size: 21px;
}
.posted-on, .byline, .comments-link, .cat-links, .entry-format {
	padding-right: 15px;
	font-weight: 300;
}
.edit-link {
	float:left;
}
.comment-metadata .edit-link {
	display: block;
	float: none;
}
.readMoreLink {
	float: right;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid #36c1c8;
	line-height: 1;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.readMoreLink:hover {
	background: #36c1c8;
}
.readMoreLink:hover a {
	color: #ffffff;
}
.dataBottom a {
	border: 1px solid #36c1c8;
	border-radius: 4px;
	display: inline-block;
	margin: 2px 0;
	padding: 0px 5px;
	font-weight: 300;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.dataBottom a:hover {
	background: #36c1c8;
	color: #ffffff;
}
.entry-meta i {
	color: #36c1c8;
}
.topSearchForm {
	display:none;
	float: right;
	padding-top: 8px;
	width: 100%;
}
.topSearchForm input {
	width:100%;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	border-radius: 4px;
	outline: none;
}
.topSearchForm input[type="submit"] {
	display: none;
}
.topSearchForm input:focus {
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
}
.top-search {
	cursor:pointer;
}
.top-search.active {
	color: #36c1c8;
}
.nav-links, .comments-title {
	background: #ffffff;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	border-radius: 4px;
}
.paging-navigation .nav-links, .comments-title {
	padding: 1.5em;
}
.nav-next {
	float: right;
}
.nav-previous {
	float: left;
}
.post-navigation .nav-previous {
	width: 50%;
	padding: 1.5em;
	float: left;
}
.post-navigation .nav-next {
	width: 50%;
	text-align: right;
	padding: 1.5em;
	border-left: 1px solid rgba(0,0,0,.1);
	float: right;
}
.page-content {
	background: #ffffff;
	padding: 1.5em !important;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	border-radius: 4px;
}
.taxonomy-description {
	margin-top: 1.5em;
}
.site-info {
	font-size: 85%;
}
.comment-awaiting-moderation {
	color: #ff0000;
}
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	border: 3px solid #36c1c8;
	position: relative;
}
.sticky:before {
	font-family: FontAwesome;
	content: "\f08d";
	position: absolute;
	width: 50px;
	height: 50px;
	background: #36c1c8;
	right: 0;
	top: 0;
	text-align: center;
	font-size: 45px;
	line-height: 1;
	color: #ffffff;
}

.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	padding: 0 1.5em;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	padding: 0.8075em 0;
	background: rgba(0,0,0,.05);
}